<div data-controller="task-manager">
	<h2>running task manager...</h2>
	<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-action="click->task-manager#run">force scheduler</button>
</div>
